body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    background-color: #555A54;
}

.container {
    width: 55%;
    text-align: center;
    background-color: #9CCD62;
    margin: 2rem auto;
    padding: 1.5rem 0;
    border-radius: .5rem;
    overflow: hidden;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;

}

form input[type="text"] {
    width: 12rem;
    padding: .4rem;
    font-size: 1.2rem;
    border: none;
    border-radius:.3rem;
    outline: none;
    color: blueviolet;
    
}
form input[type="submit"] {
    width: 12rem;
    font-size:1.2rem ;
    padding: .4rem;
    border: none;
    border-radius: .2rem;
    outline: none;
    cursor: pointer;
    transition: .3s ease;
}
form input[type="submit"]:hover {
    background-color: blueviolet;
    color: white;
}

.icon img {
    width:8rem;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature {
    font-size: 3rem;
    font-weight: bold;
    margin: .8srem 0;
}
.description {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.details > div {
    font-size: 1.2rem;
    margin: 2rem 1rem;
    flex: 1;
    border-radius: .2rem;
}
@media (max-width: 768px) {
    .container {
        width: 90vw;
    }
    form {
        flex-direction: column;
    }
    form input[type="text"] {
        margin-bottom: 1rem;
    }
    form input[type="submit"] {
        width: 10rem;
    }

}